@font-face {
    font-family: "GunHead",cursive;
    src: local("GunHead"), url("./fonts/gunheadchick.ttf") format('ttf');
}

:root {
  --bg-color: #ffc7df;
  --border-color: #0D5D56;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: center;
  align-items: center;
}

.ticContainer {
  text-align: center;
}

.boardContainer {
  display: grid;
  grid-template-areas:
    "boardMessage"
    "board"
    "boardActions";
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.board {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "cell0 cell1 cell2"
    "cell3 cell4 cell5"
    "cell6 cell7 cell8";
  grid-area: board;
}

.boardMessage {
  grid-area: boardMessage;
  font-size: 30px;
  text-transform: uppercase;
}

.boardActions {
  grid-area: boardActions;
}

.boardCell {
  font-family: GunHead;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  grid-area: cell;
  font-size: 50px;
  align-self: center;
  border: 2px solid var(--border-color);
}

.boardCell.active:hover {
  cursor: pointer;
  background-color: #F8BBD0;
}

.board .boardCell:nth-child(-n + 3) {
  border-top: none !important;
}

.board .boardCell:nth-child(3n + 1) {
  border-left: none !important;
}

.board .boardCell:nth-last-child(3n + 1) {
  border-right: none;
}

.board .boardCell:nth-last-child(-n + 3) {
  border-bottom: none;
}
.boardCell0 {
  grid-area: cell0;
}
.boardCell1 {
  grid-area: cell1;
}
.boardCell2 {
  grid-area: cell2;
}
.boardCell3 {
  grid-area: cell3;
}
.boardCell4 {
  grid-area: cell4;
}
.boardCell5 {
  grid-area: cell5;
}
.boardCell6 {
  grid-area: cell6;
}
.boardCell7 {
  grid-area: cell7;
}
.boardCell8 {
  grid-area: cell8;
}
